/* mobile first estructura detail-album*/

* {
    box-sizing: border-box;
}

/*body detail para search, album y artist*/
#detail {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/*header*/
div {
    margin: 0;
    padding: 0;

}

nav {
    padding: 10px 40px 10px 70px;
    border: 1px #000;
    border-left: none;
    border-right: none;
    background-color: #000;

}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

nav ul li.logo {
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

nav ul li.logo span {
    font-weight: 800;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;

}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: black;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;

}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
}

nav ul .search-icon .icon span {
    color: white;
    font-size: 18px;
}

/*detail-album*/

.contenedor {
    margin-bottom: 10%;
}

figure img {
    margin-top: 20px;
    width: clamp(150px, 80%, 400px);
    margin-bottom: 0;
    padding: 0;
}

img {
    margin-top: 0;
}

.artista {
    font-style: italic;
}

.albumtim {
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;


}

ul {
    margin: 0;
    padding: 0;

}

li.album {
    font-size: 1.0em;


}

li.tim {
    font-size: 3.3em;
    margin: 0;
    padding: 0;
    margin-bottom: 0;

}



.contenido1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    background: -webkit-linear-gradient(rgb(216, 87, 28), black);
    background: -o-linear-gradient(rgb(216, 87, 28), black);
    background: -moz-linear-gradient(rgb(216, 87, 28), black);


}



.listagris {
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;

}

.listaheaven {
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(177, 177, 177);
    text-align: left;


}

/*seccion iconos*/

.favoritos {
    margin-top: 10px;


}

.fav {
    display: flex;
    list-style: none;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    justify-content: space-between;
    width: 35px;
    margin: 0px 5px 0;
}

.artista {
    list-style: none;
    font-weight: bolder;
}

ul {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/*seccion canciones tim*/

ol {


    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 90%;
    margin: 0;


}

.listatim {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;

}

.articletim {
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;

}

article .trespuntitos {
    align-items: end;
    text-align: end;
}

.albumtimcanciones {
    width: 100%;
    align-items: center;
}

a {
    color: white;
}


.mas {
    align-items: right;
}

.discografia {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10%;

}

.titulodiscografia {
    color: white;
    text-align: left;
    width: 100%;
    font-size: 2.0em;

}

.discos {
    display: flex;
    padding: 5px;
    margin: 3px;
    margin-bottom: 5px;
    background-color: rgba(15, 15, 15, 0.74);
    border-radius: 40px;
    flex-direction: column;
    width: calc(33% - 5px);
    flex-wrap: wrap;
}

.discos img {
    border-radius: 20px;
    width: 100%;

}

.albumesmartin {
    color: white;
    font-size: 0.9em;
    margin-bottom: 0%;
}

.subtitulosalbum {
    width: 0.9em;
}

/*css detail-artist*/

.artist {
    display: flex;
}

.martininf {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
}

.infomartin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;


}


.infomartin img {

    margin-top: 10px;
    width: clamp(150px, 60%, 400px);
    margin-bottom: 0;
    padding: 0;
    align-items: center;

}

.articlemartin figure {
    max-width: 400px;
    max-height: 500px;
    align-items: center;

}

.martingarrixtitulo {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin: 10px;
    padding: 0;
    text-align: center;
}

h2.titulotop5 {
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
    text-align: left;
    font-size: 2.0em;
    text-align: left;


}

section.arribamartin {
    background: -webkit-linear-gradient(rgb(18, 13, 63), black);
    background: -o-linear-gradient(rgb(18, 13, 63), black);
    background: -moz-linear-gradient(rgb(18, 13, 63), black);
    background: linear-gradient(rgb(18, 13, 63), black);
}

.sectiontop5 {
    margin: 0;
    padding: 10px;
    margin-bottom: 5%;
    width: 100%;
    flex-wrap: wrap;
}

.listacinco {
    align-items: center;
    flex-wrap: wrap;
}

ol.topcinco li {
    font-size: 1.0em;
}

.cancionesconplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.informacionmartin {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}

.descripcionmartin {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 100%;
    background-image: url(../img/mgx2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 20px;
    padding: 5px;


}

.martingarrixinfo {
    color: white;

}

.tituloinformacion {
    color: white;
    font-size: 2.0em;
}

.descripcionmartin p {
    flex-wrap: wrap;
    color: white;
    width: calc(100% - 10px);
    text-align: left;

}

/*css search-results*/

.primerarespuesta {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: rgba(49, 49, 49, 0.74);
    border-radius: 20px;
    flex-direction: column;
    width: calc(50% - 2px);

}

.primerarespuesta img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2%;
}

.electronic {
    align-items: left;
    max-width: 600px;
}

.electronic img {
    align-items: center;
    width: clamp(150px, 50%, 400px);
}

.electronica {
    color: rgb(255, 255, 255);
    padding: 0;
    text-align: left;
    margin: 0;
}

h4 {
    color: darkgray;
    font-style: italic;
    margin: 0;
    padding: 0;

}

.resultadosbusqueda {

    font-style: italic;
    color: rgb(145, 145, 145);
    margin-top: 2%;
    margin-left: 3%;

}

.resultadoselectronica {
    width: fit-content;
    margin-bottom: 10%;
}

.busquedaicono {
    margin-right: 2%;
}

/*css footer*/

.social-icons a {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: #424356;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons i {
    color: #ffffff;
    font-size: 14px;
}

.copyright {
    font-family: calibri;
    font-size: 12px;
    color: #b3b3b3;
}

.Integrantes {
    font-family: calibri;
    font-size: 25px;
    color: #b3b3b3;
}

.social-icons a:hover {
    background-color: #353745;
    transition: all ease 0.5s;
}

.social-icons a:hover i {
    color: #424356;
}


.arriba h1 {
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}

.arriba ul li a {
    font-size: 16px;
    color: #575a70;
}

.arriba ul li p {
    font-size: 14px;
    color: #575a70;
    line-height: 10px;
}

.arriba {
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.arriba {
    border-bottom: 1px solid #575a70;

}

.arriba a:hover {
    color: grey;
}

.abajo h1 {
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}


.abajo {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

footer {
    margin-top: 20px;
    background-color: #353745;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width:600px) {

    body {
        margin: 0;
        padding: 0;
    }

    .contenido1 {
        display: flex;
        flex-direction: column;

    }


    .contenido1 figure {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin: 0;
        padding: 0;
        width: fit-content;
        align-items: center;
    }

    .contenido1 figure img {
        margin: 5% 0 0 0;
        padding: 0;
        width: clamp(150px, 80%, 400px);

    }

    .contenido1 div.listagris {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 0;
        margin-top: 0;
        list-style: none;
        text-decoration: none;

    }

    li.album {
        font-size: 1.0em;
        margin: 0;
        padding: 0;
    }

    li.tim {
        font-size: 3.3em;
        margin: 0;
        padding: 0;

    }

    .listagris {
        text-align: center;
        margin-left: 15px;
        margin-top: 0;
    }

    .listaheaven {
        list-style: none;
        text-decoration: none;
        flex-wrap: wrap;

    }

    .listatim {

        margin-left: 2%;

    }


    .infomartin figure img {

        margin-top: 10px;
        width: clamp(150px, 80%, 400px);
        margin-bottom: 0;
        padding: 0;
        align-items: center;

    }

    .infomartin figure img {

        margin-top: 10px;
        width: clamp(150px, 80%, 400px);
        margin-bottom: 0;
        padding: 0;
        align-items: center;
        margin-left: 18%;
    }

    .electronic img {
        align-items: center;
        width: clamp(150px, 50%, 400px);
    }

    .sectiontop5 {
        margin: 10px;
        padding: 10px;

    }


    .albumesmartin {
        font-size: 1.1em;
    }

    .subtitulosalbum {
        width: 1.1em;
    }

    .discografia {
        margin: 10px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .infow4l {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .infow4l img {
        margin-top: 10px;
        width: clamp(150px, 60%, 400px);
        margin-bottom: 0;
        padding: 0;
        align-items: center;
    }

    .w4ltitulo {
        color: rgb(255, 255, 255);
        font-size: 2.5em;
        margin: 10px;
        padding: 0;
        text-align: center;
    }

    .discos {
        padding: 10px;
        flex-wrap: wrap;
    }


    .listado {
        text-align: center;
    }
}

@media (min-width:900px) {

    body {
        margin: 0;
        padding: 0;
    }

    .derecha {
        align-items: right;
    }

    .contenido1 {
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    .contenido1 figure {
        display: flex;
        margin: 0;
        padding: 0;
        width: fit-content;
        align-items: right;
        max-width: 315px;
        max-height: 500px;
        margin-left: 15%;

    }


    .contenido1 figure img {
        display: flex;
        width: 100%;
        padding: 0 0;
        margin-top: 20%;
    }
    .primeraparte{
        display: flex;
        margin-left: 10%;
        
    }

    .fav{
        margin-top: 2%;
        margin-left: 22%;
    }
    .albumtim {

        text-align: left;
        margin-top: 90%;
    }

    ul.albumtim {
        margin-top: 65%;
    }

    section.favoritos {
        display: flex;
        margin-left: 20%;
        margin-top: 2%;
    }

    section.listatim {
        margin-right: 0;
        padding-right: 0;
        width: 85%;
    }

    


    .articletim {
        display: flex;
        width: 100%;

    }

    ol {

        width: 60%;
        margin: auto;
    }

    ol li:hover {
        background-color: rgba(177, 177, 177, 0.226);

    }

    .iconitos:hover {
        color: rgb(177, 177, 177);

    }

    a:hover {
        color: rgb(156, 149, 149);
    }

    .infomartin figure img {

        margin-top: 10px;
        width: clamp(150px, 80%, 400px);
        margin-bottom: 0;
        padding: 0;
        align-items: center;
        margin-left: 20%;

    }

    .martingarrixtitulo {
        text-align: center;
    }

    .sectiontop5 {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 20px;

    }

    .topcinco {

        width: 60%;
        margin: auto;
        flex-wrap: wrap;
    }

    .electronic figure img {
        align-items: center;
        width: 40%;
    }

    .electronica:hover {
        text-decoration: underline;
    }

    .albumesmartin {

        font-size: 1.4em;
    }

    .albumesmartin:hover {
        text-decoration: underline;

    }

    .subtitulosalbum {
        width: 1.4em;
    }

    .discografia {
        margin: 10px;
        padding: 20px;
    }

    .ladeltrack {
        width: 300px;
        margin: 30px;

    }

    .discos {
        margin: 3px;
        padding: 15px;
        flex-wrap: wrap;
    }

    .descripcionmartin {
        background-position-y: 15%;
    }

    .informacionmartin {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
    }
}