*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#portada{
    background-image: url(../img/portada.jpg);
    background-size: cover;
    min-height: 60vh;
    padding: 50px;
    display: flex;
    margin: 0;
}
#portada .titulo{
    text-align: start;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#portada blockquote {
    font-size: 80px;
}

.subtitulo {
    font-size: 30px;
    text-align: center;
    padding: 30px 10px;
    background-color: dimgrey;
    margin: 0;
}

div section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
   /* background-color: rgba(128, 128, 128, 0.226);*/
    border-radius: 20px;
}

div section h2 {
    margin-left: 50px;
    width: 100%;
    font-size: 50px;
}

div section article {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    width: calc(50% - 4px);
    background-color: rgba(15, 15, 15, 0.74);
    border-radius: 40px;
}

article figure {
    flex-shrink: 0;
}

figure img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

div.canciones section article {
    width: 450px;
}

div.canciones article div.informacion {
    width: 120px;
}

article div.reproductor {
    margin-left: 20%;
    display: flex;
    margin-top: 50px;
}

.canciones article figure img {
     border-radius: 5px;
}