* {
    box-sizing: border-box;
}
.header{
    background-color:#353745;
    display: grid;
    grid-template-columns: 40% 50%;
    text-decoration-color: white;
    font-family: calibri;
    justify-content: space-between;
}
.nav {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   font-size: 5mm;
   /* padding-top: 2%; */
   font-family: calibri;
   text-decoration: none;
   justify-content: flex-end;
   align-items: center;
   grid-column-gap: 10px;
   padding-right: 10px;
}
.nav a{
   text-align: center;
}

body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 100px;
}

ul {
    list-style: none;
}

#portada {
    background-image: url(../img/portada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
    padding: 20px;
    display: flex;
}

#portada .titulo {
    padding: 10px;
    margin-top: 50px;
    margin-right: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#portada blockquote {
    font-size: 80px;
}

.subtitulo {
    font-size: 30px;
    text-align: center;
    padding: 30px 10px;
    background-color: rgba(15, 15, 15, 0.74);
    margin: 0;
}

div section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: rgba(128, 128, 128, 0.226);*/
    border-radius: 20px;
}

div section h2 {
    margin-left: 50px;
    width: 100%;
    font-size: 50px;
}

div section article {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    width: calc(50% - 4px);
    background-color: rgba(15, 15, 15, 0.74);
    border-radius: 40px;
}

article figure {
    flex-shrink: 0;
}

figure img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

div article figure.cancion img {
    height: 100px;
    width: 100px;
}

.cancionesalbum {
    margin: 0;
}

div.album section article figure img {
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

div.canciones section article {
    width: 450px;
}

div.canciones article div.informacion {
    width: 100px;
}

article div.reproductor {
    margin-left: 20%;
    display: flex;
    margin-top: 50px;
}

.canciones article figure img {
    border-radius: 5px;
}

div.generos section article {
    height: 300px;
}

div.generos section article.rock {
    background-image: url(../img/portada.jpg);
    background-position:center;
}

a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

footer {
    background-color: rgba(15, 15, 15, 0.74);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

ul {
    list-style: none;
}

.arriba ul {
    font-family: calibri;
    margin: 0px;
    padding: 0px 20px;
}

.arriba h1 {
    color: #ffffff;
    font-size: 20px;
    font-family: calibri;
}

.arriba ul li a {
    font-size: 16px;
    color: white;
}

.arriba ul li p {
    font-size: 14px;
    color: white;
    line-height: 10px;
}

.arriba {
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.arriba {
    border-bottom: 1px solid rgba(15, 15, 15, 0.74);

}

.arriba a:hover {
    color: grey;
}

.abajo h1 {
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}


.abajo {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

/* .logo{
    height: 50px;
    width: 170px;
} */

.social-icons a {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: rgba(15, 15, 15, 0.74);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons i {
    color: #ffffff;
    font-size: 14px;
}

.search input {
    height: 35px;
    width: 200px;
    border-radius: 4px;
    outline: none;
}

.copyright {
    font-family: calibri;
    font-size: 12px;
    color: #b3b3b3;
}

.Integrantes {
    font-family: calibri;
    font-size: 25px;
    color: #b3b3b3;
}

.up-section ul li a:hover,
.dwn-section ul li a:hover {
    color: #9697a0;
}

.social-icons a:hover {
    background-color: white;
    transition: all ease 0.5s;
}

.social-icons a:hover i {
    color: white;
}

.imagenes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

/*Agrego css de las paginas detail*/

#detail {
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif
}
.albumavicci{
    display: flex;
    padding: 50px;
    margin-bottom: 10px;
    width: calc(50% - 16px);
    background-color: rgba(15, 15, 15, 0.74);
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
}
div img {
    width: 200px;
    height: 200px;
}